.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  
  .background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .back-vid {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  header {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    justify-content:space-between;
  }

  .assist-btn {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3px 14px;
    font-size: 12px;
    font-weight: normal;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #ffffff;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .assist-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #333;
  }
  
  
  
  .logo {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  .logo h1 {
    font-size: 24px;
  }
  
 
  .form-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(162, 167, 186, 0.2);
    padding-left: 50px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: auto;
    border: 1px solid #FFFFFF;
    text-align: center;
  }
  
  .form-group h2 {
    margin-bottom: 10px;
    color: #FFFFFF;
  }
  
  .form-group h3 {
    margin-bottom: 25px;
    font-weight: normal;
    color: #FFFFFF;
  }
  
 
  .form-hr {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .form-hr label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    
    color: white;
  }
  
  .form-hr input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 14px;
  }
  
 
  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: white;
    margin-bottom: 20px;
  }
  
  .options label {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .options a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .options a:hover {
    text-decoration: underline;
  }
  
  .home{
    
    position:absolute;
    padding: 8px 16px;
    top:35px;
    right:16px;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: rgba(183, 183, 187, 0.1);
    

  }
  .home:hover {
    background-color: rgba(240, 240, 244, 0.4);
    color: #38393C;
    border: 2px solid white;
  }
  
  .dashboard {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: rgba(183, 183, 187, 0.1);
  }
  
  .dashboard:hover {
    background-color: rgba(240, 240, 244, 0.4);
    color: #38393C;
    border: 2px solid white;
  }
  
  
  .register-link {
    margin-top: 10px;
    font-size: 14px;
    color: white;
  }
  
  .register-link a {
    color: #ffffff;
    text-decoration: underline;
  }
  
  .register-link a:hover {
    color: #aad8ff;
  }
  
  
  .gradient {
    background: linear-gradient(to right,#888888,#aaaaaa,#cccccc,#eeeeee,#cccccc,#aaaaaa,#888888);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
  }
  
  @keyframes animate-gradient {
    to {
      background-position: 200%;
    }
  }
  
  
  @media (max-width: 500px) {
    .form-group {
      width: 90%;
      padding: 30px 20px;
    }
  
    .logo h1 {
      font-size: 18px;
    }
  
    .logo img {
      width: 45px;
      height: 45px;
    }
  }
  